@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.filters {
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$space-3;
  @include m.respond-to("md") {
    grid-template-columns: repeat(3, 1fr);
  }
}
